<p><%= @product.description %></p>
<%= image_tag @product.image.url(:thumb) %>

<% if admin %>
  <span class="waves-effect waves-light btn">
    <%= link_to "Update Product", edit_product_path %>
  </span>
<% end %>